<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>PourOver js Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="pourover.js"></script>
    <script src="Zipcodes.js"></script>
    <script src="utils.js"></script>

    <script type="text/html" id="zipcode-list-template">
        <table>
          <thead>
            <tr>
              <th>State</th>
              <th>City</th>
              <th>Zip Code</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(items, function(item) { %>
              <tr>
                <td><%= item.get('state') %></td>
                <td><%= item.get('primary_city') %></td>
                <td><%= item.get('zipcode') %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
    </script>

    <!--<script src="jst.js"></script>-->
    <script type="text/javascript">

    function filterByState(collection, state) {
        collection.filters.state.query(state);
        var state_cids = collection.filters.state.current_query.cids,
            states = collection.get(state_cids);

        return states;
    }

 /**
    $( document ).ready(function() {


    });
**/
    var Zipcodes = Backbone.Model.extend({
        defaults: {
            state: 'CA',
            primary_city: 'Los Angeles',
            zipcode: '68888',
        }
    });
    (function ($) {

        //console.log(zipcodes);

        state_options = getUniqueValues(zipcodes, "state");
        //console.log(state_options);

        var collection = new PourOver.Collection(zipcodes);
        var state_filter = PourOver.makeExactFilter("state", state_options);
        collection.addFilters([state_filter]);
        //ne = filterByState(collection, "NE");
        //console.log(ne);

        collection.filters.state.query("NE");
        //var state_cids = collection.filters.state.current_query.cids,
        //    states = collection.get(state_cids);


        ZipcodeView = PourOver.View.extend({
           //template: JST.viewTemplate,
            initialize:function(){
                this.selectionFn();
                this.render();
            },
            template: _.template($("#zipcode-list-template").html()),
            render: function() {
                console.log("BOOOM");
                collection.filters.state.query("NE");

                 var state_cids =
                        collection.filters.state.current_query.cids,
                     items = collection.get(state_cids);
                var html = this.template({items:items});
                console.log(items);
                $("body").append(output);
            },
            selectionFn: function() {
                var collection = this.collection,
                    states_dimension =
                        collection.getCurrentFilteredItems("states");
                    return collection;
            }
        });
        view = new ZipcodeView("zipcode-list-template", collection);

    })(jQuery);
        /////////////////////////
        /**
        collection.filters.state.query("NE");
        var ne_cids = collection.filters.state.current_query.cids,
            ne = collection.get(ne_cids);
        console.log(ne);
        **/
        ////////////////////


        //var zipcodes = collection.get(ne_cids);

        //console.log( zipcodes );

        /**
        var zipcodes = collection.get(neZipcodes.zipcode);

        console.log(zipcodes);
        **/

    //});
    </script>



  </head>
  <body>
      <h1>Zipcodes</h1>

      <div id="container" class="content"></div>


  </body>

  </html>
