<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>PourOver js Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="pourover.js"></script>
    <script src="Zipcodes.js"></script>
    <script src="utils.js"></script>


    <script type="text/html" id="state-selector-template">
        <select id="state-selector">
          <% _.each(states, function(state) { %>
                <option value="<%= state %>"><%= state %></option>
            <% }) %>
        </select>
    </script>
  </head>
  <body>
      <h1>Zipcodes</h1>
      <div id="search-container">
          <div id="state-selector-container">
                Loading Cities..
          </div>
      </div>
      <br>
      <div class="content">
      </div>


  </body>

          <script type="text/javascript">

    (function ($) {

        var state_selector_template = $("#state-selector-template").html(),
            zipcode_table_template = $("#zipcode-table-template").html();

        var collection = new PourOver.Collection(zipcodes);

        state_options = getUniqueValues(zipcodes, "state");

        // Add states to the select box as options
        $("#state-selector-container").html( _.template(state_selector_template, {'states': state_options} ) );

        // Add filter to our collection with the unique states as options
        var state_filter = PourOver.makeExactFilter("state", state_options);
        collection.addFilters([state_filter]);

        // Create our view
        ZipcodeView = PourOver.View.extend({
            selectionFn: function() {
                var state_query = collection.filters.state.current_query;
                return state_query;
            },
            render: function() {
                current_items = this.getCurrentItems();
                $(".content").html(JSON.stringify(current_items));
                return(this);
            }

        });
        var zipcode_view = new ZipcodeView("zipcode_view", collection);

        zipcode_view.render();

        $( "#state-selector").change(function(){
            var state_selected = $( "#state-selector").val()
            collection.filters.state.query(state_selected);
            console.log("now render filtered view");
            console.log(zipcode_view);
            zipcode_view.render();
        });

    })(jQuery);
    </script>

  </html>
